@tailwind base;
@tailwind components;
@tailwind utilities;

section.grid-container {
  --column-width: 190px;
  --column-count: 3;
  --grid-gap: 24px;
  --min-container-width: 372px;
}

@media only screen and (min-width: 1024px) {
  section.grid-container {
    --column-count: 4;
  }
}
@media only screen and (min-width: 1280px) {
  section.grid-container {
    --column-count: 5;
  }
}

.grid-items {
  grid-gap: var(--grid-gap);
  display: grid;
  grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
  min-width: var(--min-container-width);
}

.no-wrap-grid {
  grid-auto-rows: 0;
  grid-template-rows: 1fr;
  overflow-y: hidden;
  row-gap: 0;
}
